@charset "UTF-8";

*{margin:0; padding:0;}
html{width:100%; height:100%}
body{position:relative; font-family:'맑은 고딕', 'Malgun Gothic',  sans-serif; font-size:16px; color:#555; letter-spacing:-0.5px; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0; font-size:inherit}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle} 
input, select{vertical-align:middle; background:#fff; border:1px solid #e0e0e0; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif; color:#555; letter-spacing:-0.5px; border-radius:0; font-size:16px; color:#000}
input{padding:3px 10px; height:32px}
option{padding:3px 10px;}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #e0e0e0; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="tel"] {-webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="file"] {-webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:5px 30px 5px 10px; height:40px; border:1px solid #e0e0e0; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:#fff url("/common/images/icon/select_arrow.png") no-repeat right 15px center; }
select::-ms-expand {display: none;}
@-moz-document url-prefix() {
    select {padding-left:10px;}
}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #e0e0e0; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif; color:#555; font-size:16px; letter-spacing:-0.5px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#555;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:16px; font-family:'맑은 고딕', 'Malgun Gothic', sans-serif;}
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
strong{font-weight:normal}
th{font-weight:normal}

::selection {
    background:#aaa;
    color: inherit;
    text-shadow: none;
}
::-moz-selection {
    background:#aaa;
    color: inherit;
    text-shadow: none;
}
::-webkit-selection {
    background:#aaa;
    color: inherit;
    text-shadow: none;
}


/* loading */
.loading {position:fixed; top:0; left:0; width:100%; height:100%; background:#fafafa; z-index:9999;}
.loading p {position:fixed; top:50%; left:50%; transform:translate(-50%,-50%);}
.loading p > * {font-size:10vw; color:rgba(0,0,0,0.7); -webkit-animation:rotate linear infinite; animation:rotate linear infinite; -webkit-animation-duration:1.2s; animation-duration:1.2s;}
@-webkit-keyframes rotate{
	from{-webkit-transform:rotateZ(0);transform:rotateZ(0)}
	to{-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}
@keyframes rotate{
	from{-webkit-transform:rotateZ(0);transform:rotateZ(0)}
	to{-webkit-transform:rotateZ(360deg);transform:rotateZ(360deg)}
}

#wrap {position:relative; width:100%; min-height:100%; background:#fafafa; overflow:hidden;}

/* header */
#header {position:fixed; padding:21px 25px 25px; width:100%; background:rgba(0,0,0,0.8); box-sizing:border-box; overflow:hidden; z-index:50; -webkit-transition:all .3s; transition:all .3s}
#header .logo {display:inline-block; vertical-align:top; font-size:34px; color:#fff; -webkit-transition:font-size .3s; transition:font-size .3s}

/* header scrolled */
#header.scrolled {padding:16px 20px 20px; -webkit-transition:all .3s; transition:all .3s}
#header.scrolled .logo {font-size:24px; -webkit-transition:font-size .3s; transition:font-size .3s}

/* footer */
#footer {position:fixed; bottom:0; left:0; width:100%; height:400px; text-align:center; background:#eee url("../images/icon/footer_bg.jpg") no-repeat 50% 100%; background-size:cover; z-index:0;}
#footer:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.4);}
#footer.on {z-index:1;}
#footer .content {display:table; table-layout:fixed; width:100%; height:100%;}
#footer .content > div {position:relative; display:table-cell; vertical-align:middle; text-align:center;}
#footer .content .tit {font-weight:bold; font-size:120px; color:#fff;}