@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Helvetica:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

*{margin:0; padding:0; box-sizing:border-box;}
html{width:100%; height:100%}
body{position:relative; font-family:'Lato', 'Malgun Gothic', AppleGothic, sans-serif; font-size:16px; color:#555; letter-spacing:0; height:100%; -webkit-text-size-adjust:100%; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; line-height:1;}
body,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,p,form,fieldset,table,tr,th,td{margin:0; padding:0; font-size:inherit}
ul,ol,li{list-style:none}
img, fieldset{border:none; vertical-align:top}
legend, caption{position:absolute; top:-9999px; left:-9999px; z-index:-1}
textarea, button{vertical-align:middle} 
input, select{vertical-align:middle; background:#fff; border:1px solid #e0e0e0; font-family:'Lato', 'Malgun Gothic', AppleGothic, sans-serif; color:#555; letter-spacing:-0.5px; border-radius:0; font-size:16px; color:#000}
input{padding:3px 10px; height:32px}
option{padding:3px 10px;}
input[type="radio"],input[type="checkbox"] {border:0; padding:0; height:auto; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="password"] {height:40px; border:1px solid #e0e0e0; color:#999; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="text"] {width:278px; background:#fff; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="tel"] {-webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
input[type="file"] {-webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none;}
select{padding:5px 30px 5px 10px; height:40px; border:1px solid #e0e0e0; -webkit-appearance: none; -moz-appearance: none; appearance: none; background:#fff url("/common/images/bg/select_arrow.png") no-repeat right 15px center; }
select::-ms-expand {display: none;}
@-moz-document url-prefix() {
    select {padding-left:10px;}
}
textarea{padding:10px; vertical-align:middle; background:#fff; border:1px solid #e0e0e0; font-family:'Lato', 'Malgun Gothic', AppleGothic, sans-serif; color:#555; font-size:16px; letter-spacing:-0.5px; -webkit-appearance: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; border-radius:0}
a{text-decoration:none; color:#555;}
a:hover, a:focus, a:active{text-decoration:none;}
table{border-collapse:collapse; width:100%;}
button{background:none; border:none; padding:0; margin:0; cursor:pointer; overflow:visible; white-space: nowrap;  font-size:16px; font-family:'Lato', 'Malgun Gothic', AppleGothic, sans-serif;}
button:active {outline: none}
button::-moz-focus-inner {padding:0; border:0;}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display: block;}
strong{font-weight:normal}
th{font-weight:normal}

::selection {
    background:#aaa;
    color: inherit;
    text-shadow: none;
}
::-moz-selection {
    background:#aaa;
    color: inherit;
    text-shadow: none;
}
::-webkit-selection {
    background:#aaa;
    color: inherit;
    text-shadow: none;
}

#wrap {position:relative; width:100%; min-height:100%; background:#fafafa; overflow:hidden;}

.con_wrap {position:relative; z-index:2; width:100%; overflow:hidden; background:#fafafa; box-shadow: 0 10px 60px rgba(0,0,0,0.7),0 10px 50px rgba(0,0,0,0.3);}

.main_con {position:relative; max-width:1200px; margin:0 auto;}
.main_tit {font-family:'Helvetica', '맑은 고딕', 'Malgun Gothic',  sans-serif; font-weight:700; font-size:80px; color:#000; text-align:center; margin-bottom:80px;}


/* loading */
.loading {position:fixed; top:0; left:0; width:100%; height:100%; background:#fafafa; z-index:9999;}
.loading p {position:absolute; top:50%; left:50%; width:100%; transform:translate(-50%,-50%); font-size:130px; color:#000; text-align:center;}
.loading p.txt2 {margin-top:100px; opacity:0;}

/* header */
#header {position:fixed; padding:21px 25px 25px; width:100%; background:rgba(0,0,0,0.8); box-sizing:border-box; overflow:hidden; z-index:50; -webkit-transition:all .3s; transition:all .3s}
#header .logo {display:inline-block; vertical-align:top; font-size:34px; color:#fff; -webkit-transition:font-size .3s; transition:font-size .3s}

/* header scrolled */
#header.scrolled {padding:16px 20px 20px; -webkit-transition:all .3s; transition:all .3s}
#header.scrolled .logo {font-size:24px; -webkit-transition:font-size .3s; transition:font-size .3s}

/* footer */
#footer {position:fixed; bottom:0; left:0; width:100%; text-align:center; background:#eee url("../images/bg/footer_bg.jpg") no-repeat 50% 97%; background-size:cover; z-index:0;}
#footer:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.8);}
#footer.on {z-index:1;}
#footer .content {position:relative; width:100%; height:100%; margin:0 auto;}
#footer .content .contact {padding:100px 0;}
#footer .content .contact .tit {padding-bottom:50px; font-family:'Helvetica', '맑은 고딕', 'Malgun Gothic',  sans-serif; font-weight:400; font-size:80px; color:rgba(255,255,255,1);}
#footer .content .contact a {display:inline-block; font-size:25px; color:rgba(255,255,255,0.6); line-height:1; margin:5px; -webkit-transition:all .3s; transition:all .3s;}
#footer .content .contact a span:first-child {margin-right:10px;}
#footer .content .contact a.phone {margin-left:30px;}
#footer .content .contact a:hover, #footer .content .contact a:focus {color:rgba(255,255,255,0.9); -webkit-transition:all .3s; transition:all .3s;}
#footer .content .copy {padding:30px 0; color:rgba(255,255,255,0.8); background:rgba(0,0,0,0.8);}

/* layer popup */
.ly_pop {position:fixed; top:0; left:0; width:100%; height:100%; overflow-y:auto; background:rgba(0,0,0,0.3);}