@import url(common.css);

/* Main Visual */
.main_vis {position:fixed; top:0; left:0; width:100%; height:100vh; min-height:700px; background:#ddd url("../images/bg/mainVis_bg.jpg") no-repeat 50% 50%; background-size:cover; z-index:1;}
.main_vis:before {content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.2);}
.main_vis .vis_con {display:table; table-layout:fixed; width:100%; height:100%;}
.main_vis .vis_con > div {position:relative; display:table-cell; vertical-align:middle; text-align:center;}
.main_vis .vis_con .tit {font-weight:bold; font-size:130px; color:#fff;}
.main_vis .vis_con .scroll_txt {font-size:14px; color:rgba(255,255,255,0.5); margin-top:50px;}
.main_vis .vis_con .scroll_txt span {margin-left:10px;}

/* My skills */
.my_skill {position:relative; padding:100px 0; background:#fafafa; text-align:center;}
.my_skill .skill_list {position:relative; text-align:center; margin-top:80px;}
.my_skill .skill_list li {display:inline-block;}

/* Work List */
.work_list {position:relative; padding:100px 5%; background:#fafafa;}
.work_list .list {margin-top:85px;}
.work_list .list:after {content:''; display:block; clear:both;}
.work_list .work {width:100%; background:#ddd; margin-top:15px;}
.work_list .work:first-child {margin-top:0;}
.work_list .work a {position:relative; display:block;}
.work_list .work img {width:100%; height:auto;}
.work_list .work a .text_wrap {position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(0,0,0,0.5); opacity:0; -webkit-transition:opacity .3s; transition:opacity .3s;}
.work_list .work a .text_wrap .text_div {position:absolute; top:50%; left:0; width:100%; font-size:30px; color:#fff; text-align:center; -webkit-transform:translate(0,-50%); transform:translate(0,-50%);}
.work_list .work a:hover .text_wrap, .work_list .work a:focus .text_wrap {opacity:1; -webkit-transition:opacity .3s; transition:opacity .3s;}
.work_list .column {padding:15px 10px; float: left; box-sizing:border-box;}

@media screen and (min-width:1200px) {
	
}

@media screen and (min-width:759px) and (max-width:1119px) {
	
}

@media screen and (max-width:758px){
	
}

@media screen and (max-width:350px){
	
}